@charset "UTF-8";
<style>
        body{background-color: rgb(4, 0, 17);
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;}
        h1{color: rgb(233, 198, 0);background-color: rgb(2, 2, 0);}
        h2{color: rgb(230, 190, 15); background-color: rgb(180, 114, 61);}
        p{text-align: justify;color: rgb(177, 103, 6);}
        
    </style>