@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


html {
    width: 100vw;
    height: 100vh;
}

body {
    background: black url(/imagens/back-phone.jpg) no-repeat;
    background-size: cover;
    background-position: center center;

}

main {
    background-color: rgba(255, 255, 255, 0.425);
    width: 90VW;
    margin: auto;
    border-radius: 10px;
    padding: 10px;
}

h1 {
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.664);
}

img {
    display: block;
    margin: auto;
}

img#cell {
    display: block;
}

img#tablet {
    display: none;
}

img#print {
    display: none;
}

img#pc {
    display: none;
}

img#tv {
    display: none;
}