@charset "UTF-8";

* {
    font-family: sans-serif;
}

body {
    background-color: black;
    height: 100vh;
    background-image: url(Img/wallpaper002.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    background-color: aliceblue;
    text-align: center;
    padding: 12px;
    width: 550px;
    margin: auto;
    border-radius: 12px;
    box-shadow: 2px 2px 6px black
}

main {
    background-color: white;
    width: 350px;
    padding: 22px;
    margin: auto;
    margin-top: 50px;
    text-align: center;
    border-radius: 1px 40px;
    box-shadow: 2px 2px 6px black;
}