@charset "UTF-8";

* {
    font-family: sans-serif;
}

header { text-align: center;}

main {}

div.quadrado {
    border: 1px solid black;
    width: 300px;
    height: 300px;
    display: inline-block;
    border-radius: 15px;
}

div#q1 {background-color: rgb(96, 204, 204);}

div#q2 { background-image: linear-gradient(to bottom,rgb(240, 128, 240),rgb(197, 63, 179));}

div#q3 {background-image: url(Img/pattern001.png);}

div#q4 {background-color: rgb(240, 145, 110);}

header>input{
    border-radius:22px;
    width: 580px;
    margin-top: 10px;
    margin-bottom: 111px;
    
    
}
footer {}